Value add (\S+)
Value as1 (\d+)
Value as2 (\w*)

Start
  ^-------------------------------------------------------------------------------
  ^(\S+\s+)${add}/(32|128)
  ^(\s+)${as1} ${as2} -> Record
  
EOF