Value sys (\S+)

Start
  ^===============================================================================
  ^System Information
  ^===============================================================================
  ^System Name            : ${sys} -> Record

EOF
