Value adress (\d+\.\d+\.\d+\.\d+)
Value cost (\d+)

Start              
  ^===============================================================================
  ^Destination         Type(Dest)    Stat
  ^   NHIP            NHIF     Cost[E2]
  ^-------------------------------------------------------------------------------
  ^${adress}/32
  ^(\s+\S+\s+\d+\s+)${cost} -> Record

EOF


