Value part (\S*|.*)
Value date (\S*|.*)

Start
  ^===============================================================================
  ^Chassis 1 Detail
  ^===============================================================================
  ^    Part number                     : ${part}
  ^    Manufacture date                : ${date}



