Value primary (\S*)
Value secondary (\S*)

Start
  ^===============================================================================
  ^BOF (Memory)
  ^===============================================================================
  ^(\s*)primary-image(\s*)${primary}
  ^(\s*)secondary-image(\s*)${secondary}



