Value id (\d+\S*)

Start
  ^-------------------------------------------------------------------------------
  ^system
  ^   ${id} -> Record
  ^-------------------------------------------------------------------------------
  
EOF

